body {
  display: block;
  width: 1290px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}
.form-text {
  display: flex;
  width: 400px;
  margin: 0 auto;
}
.form-control {
  // margin-bottom: 20px;
  margin-right: 20px;
}
.photo-card {
  // width: 300px;
}
.gallery {
  padding-top: 30px;
  padding-bottom: 30px;
  // width: 1000px;
  display: flex;
  // margin: 0 auto;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
  align-items: flex-end;
}
.photo-card {
  outline: 1px solid rgb(241, 241, 241);
  flex-basis: calc((100% / 4) - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.photo-card:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img:hover {
  cursor: pointer;
}
.stats {
  // border: 1px solid rgb(241, 241, 241);

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stats-item {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.material-icons {
  margin-right: 5px;
}
.is-hidden {
  display: none;
}
