<form class="search-form form-text" id="search-form">
  <input
    class="form-control"
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit" class="btn btn-primary" name="btn">Search</button>
</form>
<ul class="gallery">
  <!-- Список <li> с карточками изображений -->
</ul>
<!-- <button class="is-hidden" data-load-more>Load More</button> -->

<button class="btn btn-primary is-hidden" type="button" data-load-more>
  <span
    class="spinner-border spinner-border-sm is-hidden spinner_js"
    role="status"
    aria-hidden="true"
  ></span>
  <span class="label load-more_js">Load more</span>
</button>
